<!--The whole content below can be removed with the new code.-->
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">SongList</a></li>
          </ul>
        </div>
      </nav>
</header>
<div class="container">
    <div class="row" style="padding-top:120px;">
      <div class="col-lg-3" *ngFor="let list of songs">
          <div class="card" style="width:250px; margin:20px" >   
              <img class="card-img-top" src="{{list['im:image'][2].label}}" alt="Card image" style="width:100%">
              <div class="card-body" style="height: 85px;
              overflow-y: scroll;">
                <h4 class="card-title">{{list.title.label}}</h4>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
        <!-- </ul> -->
      
        
      </div>
    </div>
</div>


